* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    background-color: rgba(175, 100, 1, 0.726);
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 6px 8px -2px gray;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.font {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 55px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 8px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hamburger {
    display: none;
}

.HamburgerLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links {
    margin-left: auto;
    padding-right: 30px;
}

@media screen and (max-width: 700px) {
    .links {
        display: none;
    }
    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 30px;
    }
    .font {
        font-size: 22px;
    }
  }