* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    background-color: rgba(175, 100, 1, 0.726);
    height: 60px;
    margin-bottom: 10px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.font {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 55px;
    text-decoration: none;
}

.titleLink {
    text-decoration: none;
}

.titleLink:visited {
    color: inherit;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-top: 8px;
    padding: 10px;
    font-family: 'Space Mono', monospace;
}

.link:hover {
    color: #f0d199;
}

.HamburgerLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links {
    margin-left: auto;
    padding-right: 30px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .links {
        display: none;
    }
    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 30px;
    }
    .font {
        font-size: 20px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 3000px) {
    .links {
        display: block;
    }
    .hamburger {
        display: none;
        margin-left: auto;
        margin-right: 30px;
    }
    .font {
        font-size: 20px;
    }
  }